
$black-light: #15171a;
$black-medium: #0d0e10;
$black-dark: #050607;

$white-light: #fafcfc;
$white-medium: #f5f7f7;
$white-dark: #edeff0;

$blue-light: #4ddcff;
$blue-medium: #2dc7ed;
$blue-dark: #15aed4;

$green-light: #95FFFF;
$green-medium: #4EFFD4;
$green-dark: #3BECC1;

$gradient: linear-gradient(59.83deg, #4EFFD4 8.65%, #09CEF9 100%);




