h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Montserrat", sans-serif;
  color: $white-medium;
  font-weight: 400;
}

a {
  text-decoration: none;
}
.link {
  padding: 10px 16px;
  font-size: 12px;
  transition: .5s ease;
  position: relative;

  &::after{
      content: "";
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      width: 0%;
      height: 2px;
      transform: translate(22%, -50%);
      transition: .5s ease;
      background-color: $white-medium;                
  }

  &:hover{
      opacity: 0.8;
      &::after{
          width: 70%;
      }        
  }
}

h1 {
  font-size: 72px;
}

@media screen and (max-width: 1200){
    h1{
        font-size: 58px
    }
}

h2 {
  font-size: 56px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 32px;
}
h5 {
  font-size: 24px;
}
h6 {
  font-size: 18px;
}